

  body {
    font-family: "Segoe UI", Roboto, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 10px;
    color: #000000;
  }

  h2 {
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
  }

  a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;


    background-color: #0078d4;
    color: rgb(255, 255, 255);
    border: none;
    padding: 9px 30px;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.25s ease;
  }

  label {
    margin-right: 8px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 20px;
    margin-right: 0px;
    font-size: 25px;
  }

  input[type="date"] {
    padding: 8px 12px;
    border: 1px solid #c90707;
    border-radius: 20px;
    margin-right: 15px;
    font-size: 25px;
  }

  button {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 9px 30px;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.20s ease;
  }

  button:hover {
    background-color: #4400fd;
  }

  button a {
    color: white;
    text-decoration: none;
  }

  #previewContainer {
    background-color: rgb(204, 203, 203);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
  }

  th {
    background-color: #3a7db1;
    color: white;
    text-align: left;
    padding: 10px 12px;
  }

  td {
    padding: 10px 12px;
    border-bottom: 1px solid #e0e0e0;
  }



  #hojasContainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #hojasContainer button:hover {
    background-color: #d0d7de;
  }



  input[type="file"] {
    padding: 8px 12px;
    margin-right: 15px;
    font-size: 20px;
    font-family: "Segoe UI", Roboto, sans-serif;
    background-color: #b7d5f1;
    margin: 0;
    padding: 30px;
    color: #000000;
    border: none;
    padding: 9px 30px;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 10px;
  }

  h2 {
    color: #000000;
    border-bottom: 2px solid #90cdf4;
    padding-bottom: 5px;
  }

  input[type="file"] {
    padding: 10px;
    border: 2px dashed #3182ce;
    background-color: #ebf8ff;
    cursor: pointer;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fdfdff;
    box-shadow: 0 0 10px rgba(80, 39, 177, 0.05);
  }

  th {
    background-color: #4299e1;
    color: white;
    padding: 8px;
    text-align: left;
  }

  td {
    padding: 8px;
    border: 1px solid #cbd5e0;
  }

  h3 {
    margin-top: 5px;
    color: #2b6cb0;
  }




    tbody{
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    background-color: #fdfdff;
    box-shadow: 0 0 10px rgba(80, 39, 177, 0.05);
  }









  @media print {
  body {
    transform: scale(0.8);
    transform-origin: top left;
    width: 120%;
    margin: 0;
    padding: 0;
  }
  
  table {
    width: 100% !important;
    font-size: 8px !important;
  }
  
  th, td {
    padding: 4px 6px !important;
  }
  
  #previewContainer {
    padding: 5px !important;
    margin: 0 !important;
    
  }
  

  button, h2, a {
    display: none !important;

  }

  
  @page {
    size: letter;
    margin: 1cm;
  }
}
